.main-box{
    background-color: wheat;
    margin: 0 auto;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 5px;
}
body{
    background-image: url('https://www.photohdx.com/images/2016/11/clean-white-grey-paper-background.jpg');
}
.navbar-brand{
    font-weight: bold;
}
footer{
    background-color: wheat;
    color: black;
    border-top: black;
    border-width: 10px;
    text-align: center;
}
.first{
    float: right;
}
.third{
    float: right;
}
img {
    border-bottom: 1px solid black;
    height: 250px;
}