.nav-top{
    background-color: teal;
    color: white;
    text-align: center;
    font-size: large;
}
.top {
    line-height: 50px;
    margin: 0 auto;
}
.main-box{
    background-color: teal;
    margin: 0 auto;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 5px;
}
img{
    line-height: 100px;
    width: 125px;
}
.image-div {
    float: left;
    margin-right: 25px;
}
html{
    background-image: url('https://www.photohdx.com/images/2016/11/clean-white-grey-paper-background.jpg');
}
p {
    display: inline;
}
.main a {
    color: lightblue;
}