.main-box{
    background-color: teal;
    margin: 0 auto;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 5px;
}
body{
    background-image: url('https://www.photohdx.com/images/2016/11/clean-white-grey-paper-background.jpg');
}